{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block style %}
<!-- Custom styles for this template -->
<link href="/static/auth/auth.css" rel="stylesheet">
{% endblock%}

{% block title %}注册{% endblock %}

{% block content %}
<div class="page-header" align = "center">
    <h1>注册</h1>
</div>
<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-left">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                {{wtf.quick_form(form) }}
              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              </a>
            </div>
            <hr>
            <div class="text-center">
              <a class="small" href="auth/forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="{{url_for('auth.login')}}">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}


