{% extends "layout_nav.html" %}

<!-- Page Content -->

{% block page_content %} 

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="site-heading-upper text-primary text-center mt-4">材料清单</h1>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
                table
            
            <ul class="mb-5 text-left">
             
              <hr>
              <li class="text-center">
                <a class="mb-5" href="#">保存菜单</a>
              </li>
              <li class="text-center">
                <a class="mb-5" href="{{url_for('main.index')}}">返回主页</a>
              </li>
              <hr>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}