{% extends "layout_nav.html" %}

<!-- Page Content -->

{% block page_content %}
{{super()}}
<!-- Page Heading/Breadcrumbs -->

<!-- Image Header -->
<a class = "submit" href="{{url_for('.suggestion', rule='random')}}">
  <img class="img-fluid" src="/static/img/quick_select1.jpg">快速选择</img>
</a>


<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">已经有初步的意向了？</span>
            <span class="section-heading-lower">请用下面的规则定制</span>
          </h2>
          <p class="mb-0">顺应自然的餐食才是最好的餐食！</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Marketing Icons Section -->
<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h4 class="card-header">根据现有食材选择</h4>
      <div class="card-body">
        <p class="card-text">冰箱里发现了食材，不知道该做什么菜</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('.foodlist')}}" class="btn btn-primary">选择食材</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h4 class="card-header">根据餐饮记录推荐</h4>
      <div class="card-body">
        <p class="card-text">根据之前的餐饮记录，结合营养和时节推荐</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('.mealhistory', username=current_user.username)}}" class="btn btn-primary">开始推荐</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h4 class="card-header">根据季节推荐</h4>
      <div class="card-body">
        <p class="card-text">根据当前的时间和食材成熟的时间推荐</p>
      </div>
      <div class="card-footer">
        <a href="{{url_for('.season')}}" class="btn btn-primary">天人合一</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

{% endblock %}

<!-- /.container -->

