{% extends "layout_nav.html"%}
{{ super() }}
{% block nav_title %}今天吃这些吧 - {{user.username}}{% endblock %}

{% block page_content %}
    {% for cuisine in cuisines %}
    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="{{ cuisine.cuisine_elements[0][1] }}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{{ cuisine.cuisine_elements[0][0] }}</h2>
            <p class="card-text">{{ cuisine.materiallist }}</p>
            <p class="card-text">{{ cuisine.steplist }}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text/javascript">
          Selected on 
          <script type="text/javascript">
            var t = new Date();
            document.write(t)
          </script>
      </div>
    </div>
    {% endfor %}

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="panel-heading ui-sortable-handle">
                <div class="panel-control">
                    <button class="btn btn-mint" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                    <button class="btn btn-mint" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-mint" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                    <button class="btn btn-mint" data-dismiss="panel"><i class="fa fa-times"></i></button>
                </div>
                <h3 class="panel-title">Mint</h3>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="{{ url_for('.bom', username = current_user.username) }}">就是他了！</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ url_for('.suggestion', username = current_user.username) }}">不满意，换一批 &rarr;</a>
      </li>
    </ul>

{% endblock %}
