{% extends "layout_nav.html"%}

{% block nav_title %}今天吃这些吧 - {{user.username}}{% endblock %}

{% block page_content %}
{{ super() }}
    {% for cuisine in cuisines %}
    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="{{ cuisine.cuisine_elements[0][1] }}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{{ cuisine.cuisine_elements[0][0] }}</h2>
            <a href="#" class="btn btn-primary">加入菜单 &rarr;</a>
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>原料</th>
                    <th>用量</th>
                  </tr>
                </thead>
                <tbody>
                  {% for material in cuisine.materiallist %}
                  <tr>
                    <td>{{ material[0] }}</td>
                    <td>{{ material[1] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>步骤</th>
                    <th>做法</th>
                  </tr>
                </thead>
                <tbody>
                  {% for step in cuisine.steplist %}
                  <tr>
                    <td>{{ step[(0)] }}</td>
                    <td>{{ step[(1)] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>          
          </div>

        </div>
      </div>
      <div class="card-footer text/javascript">
          Selected on 
          <script type="text/javascript">
            var t = new Date();
            document.write(t)
          </script>
      </div>
    </div>
    {% endfor %}

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>原料</th>
                    <th>用量</th>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>步骤</th>
                    <th>做法</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <a href="#" class="btn btn-primary">加入菜单 &rarr;</a>
          {{ food }}
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="{{ url_for('services.bom') }}">就是他了！</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ url_for('services.suggestion', rule = 'quick') }}">不满意，换一批 &rarr;</a>
      </li>
    </ul>

{% endblock %}
