{% extends "layout_nav.html" %}

<!-- Page Content -->

{% block page_content %}
{{super()}}
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">404
      <small>您访问的页面不存在</small>
    </h1>

    <div class="jumbotron">
      <h1 class="display-1">404</h1>
      <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
      <ul>
        <li>
          <a href="{{url_for('main.index')}}">返回主页</a>
        </li>
      
        投资组合
        <ul>
          <li>
            <a href="portfolio-1-col.html">1 列</a>
          </li>
          <li>
            <a href="portfolio-2-col.html">2 列</a>
          </li>
          <li>
            <a href="portfolio-3-col.html">3 列</a>
          </li>
          <li>
            <a href="portfolio-4-col.html">4 列</a>
          </li>
        </ul>
        
        Blog
        <ul>
          <li>
            <a href="blog-home-1.html">Blog Home 1</a>
          </li>
          <li>
            <a href="blog-home-2.html">Blog Home 2</a>
          </li>
          <li>
            <a href="blog-post.html">Blog Post</a>
          </li>
        </ul>
      </ul>
{% endblock %}
