{% extends "layout_nav.html" %}

<!-- Page Content -->

{% block page_content %}
{{super()}}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">500错误
      <small>这是个啥</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{url_for('main.index')}}">返回主页</a>
      </li>
      <li class="breadcrumb-item active">500到底是个啥</li>
    </ol>

    <p>500 server not available error
      <a href="{{url_for('main.index')}}">还是先回主页吧</a>
    </p>
{% endblock %}