<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    {% block head %}
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main-css.css" rel="stylesheet">
    <title>{% block title %}Base page{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block body %}
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block  footer %}
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript for this template -->
    <script src="js/main-js.js"></script>
    {% endblock %}
</div>
{% endblock %}
</body>
</html>