<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
	<meta charset="utf-8">
  {% block head %}
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    {% block style %}
    <!-- Custom styles for this template -->
    <link href="/static/css/main-css.css" rel="stylesheet">
    {% endblock%}

    <title>{% block title %}Meal Selection{% endblock %}</title>

  {% endblock %}
</head>
<body>
{% block body %}
  <div id="content">
  <div class = "container">
    {% for message in get_flashed_messages() %}
    <div class = "alert alert-warning">
      <!--<button type = "button" class = "close" data-dismiss="alert">&times;</button>-->
      {{ message }}
    </div>
    {% endfor %}
  </div>

  {% block content %}
    Content
  {% endblock %}
  </div>

  <div id="footer">
  {% block footer %}
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/static/vendor/jquery/jquery.js"></script>
    {% block JavaScript %}
    <!-- Custom JavaScript for this template -->
    <script src="/static/js/main-js.js"></script>
    {% endblock %}
  {% endblock %}
  </div>

{% endblock %}
</body>
</html>