{% extends "layout_nav.html" %}
<!-- Page Content -->
{% block page_content %} 
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">我来帮你治疗选择困难症</span>
            <span class="section-heading-lower">选择我的餐食</span>
          </h2>
          <p class="mb-3">总吃一样的东西会不会对身体不好？

          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-lg" href="{{url_for('services.intention')}}">这一顿要吃什么？</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">我们的承诺</span>
              <span class="section-heading-lower">给最爱的你</span>
            </h2>
            <p class="mb-0">顺应自然的餐食才是最好的餐食！</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
