{% extends "base.html" %}
{% block content %}
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">一个帮助你选餐的小程序</span>
    </h1>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{{url_for('main.index')}}">服务</a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item pl-lg-4">
              <a class="navbar-brand text-primary" href="{{url_for('main.index')}}">主页
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item pl-lg-4">
              <a class="navbar-brand text-primary" href="{{url_for('services.intention')}}">选餐服务</a>
            </li>            
            <li class="nav-item pl-lg-4">
              <a class="navbar-brand text-primary" href="{{url_for('main.about')}}">关于我们</a>
            </li>
            <li class="nav-item pl-lg-4">
              <a class="navbar-brand text-primary" href="{{url_for('main.contact')}}">联系我们</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item pl-lg-4">
              <a class="navbar-brand text-primary" href="{{url_for('main.user', username = current_user.username)}}">资料</a>
            </li>
            <li class="nav-item dropdown pl-lg-4">
              <a class="navbar-brand dropdown-toggle text-primary" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的饮食结构</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">列表菜谱？</a>
                <a class="dropdown-item" href="portfolio-2-col.html">菜谱统计图？</a>
                <a class="dropdown-item" href="portfolio-3-col.html">跟什么比一下？</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item pl-lg-4">
              <a class="navbar-brand text-primary" href="{{url_for('auth.login')}}">登录</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  <!-- Page Content -->
  {% block page_content %} 
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">关于
      <small>标题</small>
    </h1>
  </div>
  {% endblock %}
  <!-- Page Content -->
{% endblock %}