{% extends "layout_nav.html"%}
{% block nav_title %}主页 - {{user.username}}{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>{{user.username}}</h1>
	{%if user.username or user.location %}
	<p>
		{% if user.location %}
			from <a href="http://maps.baidu.com/?q={{user.location}}">{{user.location}}</a>
		{% endif %}
	</p>
	{% endif %}
		{% if current_user.is_administrator() %}
			<p><a href="mailto:{{user.email}}">{{user.email}}</a></p>
		{% endif %}
	<p>
		{% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
	</p>	
	<p>
		{% if user.gravatar %}
		<img class="img-rounded profile-thumbnail" src="{{user.gravatar(size=256)}}">
		{% endif %}
	<p>

	</p>
		{% if user == current_user %}
		<a href="{{url_for('.edit_profile')}}" class="btn btn-default" >编辑用户资料</a>
		{% endif %}
		{% if current_user.is_administrator() %}
		<a class="btn btn-danger" href="{{url_for('.edit_profile_admin', id= user.id)}}">编辑管理员资料</a>
		{% endif %}
	</p>
</div>
<div class="col-lg-5">    	
    <a class="btn btn-secondary" href="{{url_for('auth.logout')}}">登出</a>
</div>
{% endblock %}